
  .section {
    padding: 80px 0;
      h2 {
        font-weight: var(--font-weight-bold);
        margin-bottom: 8px;
      }
    .main-body {
      margin: 72px 0;
    }
  }


.banner-section {
  background: url('/img/layouts/banner.png') no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  .banner-section-title {
    color: $text-color-1;
    font-size: $text-font-display-header-1;
    font-weight: var(-font-weight-bold);
    padding-top: 120px;
  }
}

.choosing-section {
  background: url('/img/layouts/section.png') no-repeat center center;; 
  padding: 200px 0;
}

.reviews-section {
  background: url('/img/layouts/footer.png') no-repeat center center;; 
  padding: 160px 0;
}


.search-wrapper {
  .search-header {
    .search-input-group {
      position: relative;
      display: flex;
      align-items: center;
      width: 526px;
      span.search-icon {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
        color: $text-color-7;
      }
      .search-input {
        padding: 16px;
        transition: all 0.3s ease;
        box-shadow: 0 4px 80px rgba(96, 185, 191, 0.24);
        &::placeholder {
        padding-left: 24px;
          color: $text-color-7;
        }
        &:focus {
          border-color: $primary-color-3;
          box-shadow: none;
        }
      }
      .search-input-inner {
          position: absolute;
          right: 12px;
          gap: 8px;
          .search-button-more-wrap {
            display: flex;
            align-items: center;
            gap: 4px;
            span,p {
              color: $primary-color-3;
              cursor: pointer;
            }
          }
          .search-button {
            background-color: $primary-color-3;
            color: $text-color-1;
            font-size: 18px;
            padding: 12px;
            border-radius: 8px;
            cursor: pointer;
          }
        
      }
     
    }
  }
  .quick-filters {
    display: flex;
    gap: 8px;
    margin-top: 12px;
    .quick-filter {
      cursor: pointer;
      color: $text-color-1;
      &:hover {
        color: #dee2e6;
        transition: all 0.2s ease;

      }
    }
  }
}

.choosing-section {
  .main-body {
    .main-body-section {
      justify-content: center;
    }
    .main-body-section:first-child {
      padding: 0 120px 24px 70px;
    }
    .main-body-section:last-child {
      padding-left: 120px;
      padding-right: 70px;
    }
  }
  .section-title {
    color: $primary-color-5;
  }
  .choosing-section-content-wrap{
    .choosing-section-content {
      background-color: var(--color-background);
      padding: 48px 70px;
      border-radius: 40px;
      .main-card-content {
        margin-top: 24px;
        h5 {
          margin-bottom: 8px;
          color: $primary-color-5;
          font-weight: var(--font-weight-bold);
          font-size: $text-font-header-4;
        }
      }
    }
  }


  
}

.popular-event-section {
  .card {
    border:none;
    img {
      position: relative;
      height: 250px;
      object-fit: cover;
      border-radius: 40px;
    }
  }
  .card-body {
    span.rating {
      color: $secondary-color-4;
    }
    span.favorite-icon {
      color: $text-color-1;
      position: absolute;
      right: 20px;
      top: 20px;
      cursor: pointer;
    }
    h5 {
      font-weight: var(--font-weight-bold);
      margin: 8px 0;
      font-size: $text-font-header-4;
    }
    p{
      color: $text-color-9;
    }
   
  }
}

.journal-section {
  .blog-item {
    img {
      width: 100%;
      max-height: 240px;
      object-fit: cover;
    }
    .card-title {
      font-size: $text-font-header-5;
      font-weight: var(--font-weight-bold);
      margin: 8px 0;
    }
    .card-date {
      margin-top: 12px;
    }
  }
}


.reviews-section {
  h2 {
    color: $text-color-1;

  }
  .row img {
    margin-top: 12px;
    margin-left: 12px;
  }
  .card-title-wrap {
    margin-bottom: 8px;
    .card-title {
      font-weight: var(--font-weight-bold);
    }
    .card-rating {
      color: $secondary-color-4;
      span:last-of-type {
        color: $text-color-4;
      }
    }
    
  }
  .card-subtitle {
    margin-top: 16px;
    background-color: $primary-color-1;
    color: $primary-color-5;
    padding: 4px 8px;
    font-size: $text-font-header-8;
    border-radius: 8px;
  }
}