
.section {
  padding: 24px 0;
    h2 {
      font-weight: var(--font-weight-bold);
      font-size: $text-font-header-3;
      margin-bottom: 4px;
    }
  .main-body {
    margin: 32px 0;
  }
}

.home {
  position: relative;
  .back-to-top {
    position: fixed;
    right: 48px;
    bottom: 48px;
    background: $text-color-1;
    box-shadow: 0px 4px 80px 0px rgba(96, 185, 191, 0.24);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 100px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s;
    cursor: pointer;
    .material-icons {
     color: $primary-color-5;
    }
    &:hover {
      background-color: $primary-color-5;
      .material-icons {
        color: $text-color-1;
       }
    }
  }
  .back-to-top.show {
    opacity: 1;
    visibility: visible;
  }
}

.banner-section {
  background: url('/img/layouts/mobile-banner.png') no-repeat center center;
  background-size: cover;
  min-height: 50vh;
  .banner-section-title {
    color: $text-color-1;
    font-size: $text-font-header-2;
    font-weight: var(--font-weight-bold);
    padding-top: 48px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  }
}

.search-modal {
  .modal-header {
    justify-content: center;
    border: none;
    padding-bottom: 0;
  }
  .modal-title{
    font-size: $text-font-header-5;
    font-weight: var(--font-weight-bold);
    color: $text-color-10;
  }
  .modal-body {
    padding: 24px;
    .modal-body-list{
      background-color: rgba(250, 250, 250, 1);
      border-radius: 8px;
      position: relative;
      .material-icons {
        position: absolute;
        top: 11px;
        left: 15px;
        color: $text-color-7;
      }
      input{
        &::placeholder {
            color: $text-color-7;
          }
        &:focus {
          box-shadow: none;
          border-color: 1px solid $text-color-5;
        }
      }
      
      select {
        color: $text-color-7;
      }
      input,select {
        padding: 0;
        border: none;
        background-color: transparent;
        padding: 12px;
        width: 100%;
        color: $text-color-9;
        margin-left: 32px;
      }
    }

  }

  .modal-footer {
    border: none;
    gap: 12px;
    justify-content: center;
    button {
      margin: 0;
      font-weight: var(--font-weight-bold);
      border-color: $primary-color-4;
      padding: 12px;
      border-radius: 100px;
      width: 48%;
      &:active{
        border-color: $primary-color-4;
      }
    }
    .btn-secondary{
      color: $primary-color-4;
      background-color: var(--color-background);
      &:active,&:hover{
        background-color: $primary-color-4;
        color: $text-color-1;
      }
    }
    .btn-primary{
      background-color: $primary-color-4;
      color: $text-color-1;
      &:active,&:hover{
        background-color: $primary-color-5;
      }
    }
  }

  .form-control-dropdown {
    position: relative;
  }
  
  .dropdown-selected {
    padding: 12px;
    color: $text-color-7;
    margin-left: 32px;
    cursor: pointer;
    &.selected {
      color: $text-color-9; 
      border-color: $text-color-5;
    }
  }
  
  .dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid $text-color-5;
    border-radius: 8px;
    list-style: none;
    padding: 0;
    margin: 5px 0;
    z-index: 1000;
  }
  
  .dropdown-list li {
    padding: 12px;
    cursor: pointer;
    transition: background 0.2s;
  }
  
  .dropdown-list li:hover {
    background: rgba(225, 248, 250, 1);
    color: $primary-color-4;
    transition: all .3s;
    border-radius: 8px;
  }
}

.search-wrapper {
    .search-input-group {
      position: relative;
      background-color: var(--color-background);
      padding: 12px;
      border-radius: 8px;
      box-shadow: 0 4px 80px rgba(96, 185, 191, 0.24);
      display: flex;
      align-items: center;
      gap: 12px;
      span.search-icon {
        position: absolute;
        left: 28px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 24px;
        pointer-events: none;
        color: $text-color-7;
      }
      .search-input {
        border: none;
        transition: all 0.3s ease;
        background-color: transparent;
        padding: 0;
        &::placeholder {
        padding-left: 24px;
          color: $text-color-7;
        }
        &:focus {
          border-color: $primary-color-3;
          box-shadow: none;
        }
      }
      .search-input-wrap {
        padding: 12px 16px;
        border-radius: 8px;
        background-color: rgb(250, 250, 250);
        width: 100%;
      }
      .search-button-more-wrap {
        background-color: rgb(250, 250, 250);
        display: flex;
        align-items: center;
        padding: 14px;
        border-radius: 8px;
        cursor: pointer;
        .search-button-more {
          font-size: 20px;
          color: $primary-color-3;
          &:hover {
            color: $primary-color-4;
            transition: all .3s;
          }
        }
      }
      .search-button {
        background-color: $primary-color-3;
        color: $text-color-1;
        font-size: 18px;
        padding: 15px;
        border-radius: 8px;
        cursor: pointer;
        &:hover {
          background-color: $primary-color-4;
          transition: all .3s;
        }
      }
    }
  .quick-filters {
    display: flex;
    gap: 8px;
    margin-top: 12px;
    .quick-filter {
      cursor: pointer;
      color: $text-color-1;
      &:hover {
        color: #dee2e6;
        transition: all 0.2s ease;
      }
    }
  }
}

.choosing-section {
  background: url('/img/layouts/mobile-section.png') no-repeat;
  background-size: cover;
  .main-body {
    .main-body-section {
      justify-content: center;
      padding: 0 12px;
    }
  }
  .section-title {
    color: $primary-color-5;
    padding-top: 100px !important;
  }
  .choosing-section-content-wrap{
    margin-bottom: 24px;
    .choosing-section-content {
      background-color: var(--color-background);
      padding: 16px 24px;
      border-radius: 40px;
      .main-card-content {
        margin-top: 24px;
        h5 {
          margin-bottom: 8px;
          color: $primary-color-5;
          font-weight: var(--font-weight-bold);
          font-size: $text-font-header-4;
        }
      }
    }
  }
}

.popular-event-section {
  text-align: center;
  .card {
    border:none;
    &:hover {
      transition: all .3s;
      opacity: 0.7;
    }
    img {
      position: relative;
      height: 316px;
      object-fit: cover;
      border-radius: 40px;
    }
  }
  .card-body {
    text-align: left;
    span.rating {
      color: $secondary-color-4;
    }
    span.favorite-icon {
      color: $text-color-1;
      position: absolute;
      right: 20px;
      top: 20px;
      cursor: pointer;
      &:hover {
        color: $secondary-color-4;
        transition: all .3s;
      }
    }
    span.favorite-icon.favorite {
      color: $secondary-color-4;
    }
    h5 {
      font-weight: var(--font-weight-bold);
      margin: 8px 0;
      font-size: $text-font-header-4;
    }
    p{
      color: $text-color-9;
    }
  }
  .btn {
    border-color: $primary-color-5;
    background-color: transparent;
    color: $primary-color-5;
    border-radius: 40px;
    padding: 12px 24px;
    &:hover {
      background-color: $primary-color-5;
      border: none;
    }
  }
}

.journal-section {
  .blog-item {
    img {
      width: 100%;
      max-height: 240px;
      object-fit: cover;
    }
    .card-title {
      height: 48px;
      font-size: $text-font-header-5;
      font-weight: var(--font-weight-bold);
      margin: 8px 0;
    }
    .card-date {
      margin-top: 12px;
    }
  }
  .swiper {
    position: relative;
    padding-bottom: 60px;
  }
  .swiper-slide {
    &:hover {
      transition: all .3s;
      opacity: 0.7;
    }
    img {
      margin-bottom: 8px;
      width: 100%;
    }
  }
  .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after,
  .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: '';
  }
  .swiper-button-wrap{
    position: absolute;
    left: 50%;
    bottom: 4px;
    .swiper-button-prev,
    .swiper-button-next {
      top: 99%;
      transform: translateY(-50%);
      background: transparent;
      cursor: pointer;
      z-index: 10;
      border: 1px solid $text-color-4;
      border-radius: 50%;
      width: 48px;
      height: 48px;
      .material-icons {
        font-size: 20px;
        color: $text-color-9;
      }
    }
  }
  
  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    color: $text-color-5;
  }
  
}

.reviews-section {
  background: url('/img/layouts/mobile-footer.png') no-repeat;
  background-size: cover;
  .card-body {
    padding-left: 20px;
    padding-top: 6px;
  }
  h2 {
    color: $text-color-1;
    padding-top: 80px;
  }
  .card-title-wrap {
    margin-bottom: 8px;
    .card-title {
      font-weight: var(--font-weight-bold);
    }
    .card-rating {
      color: $secondary-color-4;
      span:last-of-type {
        color: $text-color-4;
      }
    }
    
  }
  .card-subtitle {
    margin-top: 16px;
    background-color: $primary-color-1;
    color: $primary-color-5;
    padding: 4px 8px;
    font-size: $text-font-header-8;
    border-radius: 8px;
  }
}

/* 響應式設計 */

@media (min-width: 768px) {
  .banner-section {
    background: url('/img/layouts/banner.png') no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    .banner-section-title {
      font-size: $text-font-display-header-1;
      padding-top: 120px;
    }
  }

  .search-wrapper {
      .search-input-group {
        width: 526px;
      }
  }



  .reviews-section {
    background: url('/img/layouts/footer.png') no-repeat;
    background-size: cover;
    h2 {
      padding-top: 120px;
    }
  }
}

@media (min-width: 992px) {
  .choosing-section {
    background: url('/img/layouts/section.png') no-repeat;
    background-size: cover;
    padding: 200px 0;
    .main-body {
      .main-body-section:first-child {
        padding: 0 120px 24px 70px;
      }
      .main-body-section:last-child {
        padding-left: 120px;
        padding-right: 70px;
      }
    }
    .section-title {
      padding-top: 0 !important;
    }
    .choosing-section-content-wrap{
      .choosing-section-content {
        padding: 48px 70px;
        
      }
    }
  }
}

@media (min-width: 992px) {
  
}

@media (max-width: 1199px) {
  .choosing-section .choosing-section-content-wrap .choosing-section-content .main-card-content {
    padding: 0 16px;
  }
  .choosing-section .choosing-section-content-wrap .choosing-section-content {
    padding: 48px 0;
  }
  .choosing-section .main-body .main-body-section{
    padding: 0 0 24px 0;
  }
}

@media (max-width: 577px){
  .home .back-to-top {
    display: none;
  }
}

@media (max-width: 375px) {
  .journal-section .swiper-slide {
        width: 100% !important;
    }
}