.container{
  max-width: 1296px !important;
  padding: 0px !important;
}
.classification{
  padding:0px !important;
    margin-bottom: 16px !important;
    margin-top: 48px;
}

.classification ul {
    list-style: none !important;
    display: flex !important;
    margin: 0px !important;
    padding: 0px !important;
  }

.classification ul li{
  color: #4DAAB0 ;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
.classification li:not(:last-child)::after {
  content: " > ";
}
.showRow{
  margin-top: 24px !important;
  padding: 0 12px !important;
}
.searchDiv{
  width: 306px !important;
  height: 713px !important;
  margin-right: 24px !important;
  padding: 0 24px !important;
  border: 1px solid #eeeeee !important;
  border-radius: 40px !important;
  background-color: #fff !important;
}
.searchArea{
  margin-top: 24px;
  text-align: left;
  color: #424242;

}
.searchBox{
  margin-bottom: 20px !important;
}
.searchTitle{
  margin-bottom: 12px !important;
  font-size: 16px !important;
  line-height: 19.2px !important;
  font-weight: 700 !important;
}
.searchInputDiv{
  position: relative !important;
  display: inline-block !important;
}
.searchInput{
  height: 48px !important;
  width: 258px !important;
  background-color: #fafafa !important;
  border: 0px !important;
  border-radius: 8px !important;
  padding-left: 40px !important;
}
.inputBi {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  font-size: 20px;
}
.searchButton{
  margin: 32px 0px;
  height: 51px;
}
.searchButton button{
  height: 100%;
  width: 100%;
  background-color: #4DAAB0;
  border-radius: 100px;
  color: #FFF;
  border: 0px;
}   

input[type="text"]::placeholder {
  color: #9E9E9E; /* 修改 placeholder 文字顏色 */
  font-size: 16px; /* 修改 placeholder 文字大小 */
  font-style: "Noto Sans TC"; /* 修改 placeholder 文字樣式 */
  font-weight: 400;
  line-height: 24px;
}
.col-md-4:nth-child(3n-1) {
  margin: 0px 24px;
}
.productList .container{
  padding: 0px !important;
  margin-left: 12px !important;
}

.textContentDiv{
  text-align:  left !important;
}
.textContentDiv .date{
  margin-bottom: 8px !important;
  height: 21px !important;
  display: flex !important;
  justify-content: space-between !important;
}
.textContentDiv .title{
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  margin-bottom: 8px;
  height: 22px;
}
.textContentDiv .description{
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  width: 100%;
  margin-bottom: 8px;
  height: 63px;
}
.textContentDiv .price{
  margin-top: 8px !important;
  height: 22px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
  width: 72px;
}
.date span{
  color:#F08430;
}

.pageDiv{
  width: 100%;
  display: flex;
  justify-content: center;
}

.pageContainer{
  width: 352px !important;
  height: 40px !important;
  padding:0px !important;
  margin-bottom: 120px !important;
  margin-top: 48px;
}

.pageContainer ul {
    width: 100% !important;
    height: 100% !important;
    list-style: none !important;
    display: flex !important;
    margin: 0px !important;
    padding: 0px !important;
  }
.pageContainer ul li{
  width: 100% !important;
  margin-right: 12px;
}  

.pageContainer ul li button{
  font-size: 16px !important;
  line-height: 24px !important;
  font-weight: 400 !important;
  border: 1px solid #eeeeee;
  border-radius: 8px;
  width: 100% !important;
  height: 100% !important;
  color: #616161 ;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.pageContainer li:last-child {
  margin-right: 0;
}

.pageDiv .pageContainer ul li button:hover {
  background-color: #4DAAB0; /* 修改懸停時的背景顏色 */
  color: white; /* 修改懸停時的文字顏色 (可選) */
  border-color: #eeeeee; /* 修改懸停時的邊框顏色 (可選) */
  cursor: pointer; /* 將滑鼠游標改為手指形狀 */
}

  /* 響應式設計 */

/* 小螢幕 (寬度小於 768px) */
@media (max-width: 768px) {
  .mobile{
    padding: 12px;
    width: 100%;
    display: block !important;
    margin-bottom: 24px;
  }
  .filterList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border-radius: 8px;
    width: 100%;
    height: 48px;
    border: 1px solid #eeeeee;
    color:#9E9E9E;
  } 
  .searchDiv{
    display: none;
  }
  .col-md-4:nth-child(3n-1) {
    margin: 0px 0px;
  }
  .row .no-gutters{
    justify-content: center;
  }
  .content{
    padding: 0px !important;
  }
  .classification{
    padding:16px 12px !important;
  }
  .container{
    margin: 0;
    padding: 0px 12px !important;
  }
  .productList{
    width: 100% !important;
  }
  .col-md-9 .container{
    margin: 0px !important;
  }
  .col-md-9 .container .row{
    margin: 0 !important;
  }
  .col-md-9 .container .row .col-md-4 {
    width: 100% !important;
  }
  .image-container{
    width: 100%;
  }
  .textContentDiv{
    margin-top: 12px;
  }
  .textContentDiv .date{
    font-size: 16px !important;
  }
  .textContentDiv .title{
    font-size: 20px !important;
  }
  .textContentDiv .description{
    font-size: 16px !important;
  }
  .textContentDiv .price{
    margin-bottom: 32px;
  }
  .col-md-4:nth-child(3n-1) {
    margin: 0px 0px !important;
  }
  .filterFooter{
    width: 100%;
  }
  .mobileSearchButton{
    height: 100%;
    width: 100%;

    border-radius: 100px;
    color: #FFF;
    border: 0px;
  }
  .filterFooter{
    padding: 0 16px;
    display: flex;
    margin-bottom: 24px;
  }
  .filterFooter button{
    height: 100%;
    width: 48%;
    background-color: #4DAAB0;
    border-radius: 100px;
    color: #FFF;
    border: 0px;
    padding: 0;
    
  }
  .filterFooter .closeBtn{
    margin: 0 4.5px 0 0;
    background-color: #fff;
    border: 1px solid #4DAAB0;
    color: #4DAAB0;
  }
  .filterFooter .searchBtn{
    margin: 0 0 0 4.5px;
  }
  .modalBody{
    padding: 16px;
    padding-bottom: 0px;
  }
    
  


}



/* 中小螢幕 (寬度小於 960px) */
@media (max-width: 1295px) {
  .mobile{
    padding: 12px 0 !important;
    width: 100%;
    display: block !important;
    margin-bottom: 24px;
  }
  .filterList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border-radius: 8px;
    width: 100%;
    height: 48px;
    border: 1px solid #eeeeee;
    color:#9E9E9E;
  } 
  .searchDiv{
    display: none;
  }
  .filterFooter{
    width: 100%;
  }
  .mobileSearchButton{
    height: 100%;
    width: 100%;

    border-radius: 100px;
    color: #FFF;
    border: 0px;
  }
  .filterFooter{
    padding: 0 16px;
    display: flex;
    margin-bottom: 24px;
  }
  .filterFooter button{
    height: 100%;
    width: 48%;
    background-color: #4DAAB0;
    border-radius: 100px;
    color: #FFF;
    border: 0px;
    padding: 0;
    
  }
  .filterFooter .closeBtn{
    margin: 0 4.5px 0 0;
    background-color: #fff;
    border: 1px solid #4DAAB0;
    color: #4DAAB0;
  }
  .filterFooter .searchBtn{
    margin: 0 0 0 4.5px;
  }
  .modalBody{
    padding: 16px;
    padding-bottom: 0px;
  }
  .productList{
    width: 100% !important;
    padding: 0 !important;
  }
  .productList .container{
    width: 100% !important;
    margin: 0 !important;
  }
  .productListDiv{
    width: 50% !important;
    height: 30% !important;
  }
  .imageContainer {
    width: auto !important; /* 寬度根據內容自動調整 */
    padding-top: 75%; /* 高度為寬度的 75% (3/4) */
    position: relative; /* 為了讓內容可以正確定位 */
    margin-bottom: 16px;
  }
  .imageContainer img { /* 或其他內容元素 */
    position: absolute; /* 絕對定位內容 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 確保圖片填滿容器 */
    border-radius: 40px;
  }
  .col-md-4:nth-child(3n-1) {
    margin: 0px 0px;
  }
  .textContentDiv .description{
    height: auto !important;
    margin-bottom: 8px;
    font-size: 12px !important;
  }
  .textContentDiv {
    margin-bottom: 32px;

  }
  .searchArea{
    width: 100% !important;
  }
  .searchInputDiv{
    width: 100% !important;
  }
  .searchInput{
    width: 100% !important;
  }
  

}

/* 大螢幕 (寬度大於等於 992px) */
@media (min-width: 1297px) {

  .productList{
    width: 966px !important;
  }
  .productListDiv{
    margin-bottom: 32px !important;
    padding: 0px !important;
    width: 31% !important;
    height: 397.5px !important;
  }
  .imageContainer{
    background-color: gray !important;
    margin-bottom: 16px !important;
    width: 100% !important;
    height: 229.5px !important;
    overflow: hidden;
    border-radius: 40px;
  }
  .searchDiv {
    width: 20% !important;
    margin-right: 12px !important;
  }
  .searchInputDiv{
    width: 100% !important;
  }
  .searchInput{
    width: 100% !important;
  }
  .mobile{
    display: none;
  }
  .col-md-4:nth-child(3n-1) {
    margin: 0px 24px;
  }
  .textContentDiv .description{
    margin-bottom: 8px;
    font-size: 12px !important;
  }
}
