.copyright {
    padding: 24px 0;
    p{
      color: $text-color-7;
      font-size: $text-font-header-8;
    }
    p::before {
      content: '';
      margin: 20px 0;
      display: block;
      background-color: $text-color-4;
      width: 100%;
      height: 1px;
    }
    .navbar-nav {
      flex-direction: row;
      gap: 32px;
      margin-top: 20px;
    }
    .footer-menu {
      flex-direction: column;
    }
  }
  
  
  /* 響應式設計 */
  @media (min-width: 768px) {
    .copyright {
      padding: 40px 0;
      p{
        color: $text-color-7;
        font-size: $text-font-header-8;
      }
      p::before {
        content: '';
        margin: 40px 0;
        display: block;
        background-color: $text-color-4;
        width: 100%;
        height: 1px;
      }
      .navbar-nav {
        flex-direction: row;
        gap: 32px;
        margin-top: 0;
        .nav-link{
          padding: 0;
          &:hover {
            transition: all .3s;
            opacity: 0.7;
          }
        }
      }
      .footer-menu {
        flex-direction: row;
        .logo-img {
          &:hover {
            transition: all .3s;
            opacity: 0.7;
          }
        }
      }
    }
  }